<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>هليل</title>
    <link rel="stylesheet" href="style.css">
    
</head>


<body>

    <div class="contanir">
        <img class="logo" src="images/logo.png"  alt="">


        
       <div style="margin-bottom: 100px;">
        <span class="text-withe">تم ارسال الطلب بنجاح </span>

       </div>
        
       
        <div style="text-align: center; margin-bottom: 50px;">
            <a href="https://wa.me/966510101060">  <img width="80px" src="images/whatsapp.png"  alt="">
            </a>
        </div>

      
        <div>
            <img class="idimg"  src="images/id.png" alt="">

        </div>
    </div>


</body>

</html>